<%- include('../_layout/head') %>

<html>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no"
  />
  <head>
    <style>
      table,
      td,
      p {
        font-family: 'PingFangHK', Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
      }
      .pstyle {
        color: #5e5e5e;
        margin: 0;
        font-size: 18px;
        line-height: 24px;
      }
      body {
        margin: 0;
        padding: 0;
      }
    </style>
  </head>

  <body>
    <table
      border="0"
      cellspacing="0"
      cellpadding="0"
      style="padding: 0 20px 0 20px; margin: 0 auto; background-color: #f9f9f9;"
      width="600px"
    >
      <tbody style="background-color: #fff;">
        <tr>
          <td style="padding: 0 0 0 10px;">
            <table width="100%" border="0" cellpadding="5" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <p
                      style="
                        color: #2d2d2d;
                        font-size: 16px;
                        line-height: 24px;
                        margin-bottom: 20px;
                      "
                    >
                      <br />
                      <strong><%=data.greeting_hi%> <%=data.name%>,</strong>
                    </p>
                    <p><%-data.subject%></p>
                    <p class="pstyle">
                      <br />
                      <% if (data.passcode) { %> <%=data.one_time_password%>
                      <strong> <%=data.passcode%> </strong> <% } %> <br />
                    </p>
                    <br />
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>

<%- include('../_layout/foot') %>
